* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #745aea;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.btn-container button {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    padding: 1px 6px;
    background-color: #ffffff;
    border: 0px;
    font-size: 30px;
    font-weight: 800;
    transition: all 0.5s;
}

.btn-container button:hover {
    cursor: pointer;
}

.input-container input {
    width: 50px;
    height: 50px;
    border-style: none;
    transition: all 0.5s;
    padding: 0 15px;
    font-size: 18px;
}

.input-container input::placeholder {
    margin-left: 15px;
    color: #877575;
    font-size: 18px;
}

.input-container input:focus {
    outline: 0;
}

div.active input {
    width: 200px;
}

div.active+div #btn {
    transform: translateX(50px);
}