/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont';
    /* Project id 3588746 */
    src: url('//at.alicdn.com/t/c/font_3588746_vea5n1wuinp.woff2?t=1660552521993') format('woff2'),
        url('//at.alicdn.com/t/c/font_3588746_vea5n1wuinp.woff?t=1660552521993') format('woff'),
        url('//at.alicdn.com/t/c/font_3588746_vea5n1wuinp.ttf?t=1660552521993') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333333;
    overflow-x: hidden;
}

.container {
    padding: 50px;
    background-color: #fafafa;
    width: 100vw;
    min-height: 100vh;
    transform-origin: 0px 0px;
    transition: transform 1s;
}

.container.active {
    transform: rotate(-20deg);
}

.container.active .circle {
    transform: rotate(-70deg);
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ff7979;
    transition: transform 1s;
}

#open {
    position: absolute;
    top: 64%;
    left: 64%;
    border: 0;
    background: transparent;
}

#open::before {
    font-family: 'iconfont' !important;
    content: '\e6c0';
    font-style: normal;
    font-size: 25px;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#open:hover::before {
    cursor: pointer;
}

#close::before {
    font-family: 'iconfont' !important;
    content: '\e61a';
    font-style: normal;
    font-size: 25px;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#close {
    position: absolute;
    top: 64%;
    left: 22%;
    border: 0;
    background: transparent;
}

#close:hover::before {
    cursor: pointer;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0px;
}

.container.active+nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

nav ul {
    list-style-type: none;
    padding-left: 30px;
}

nav ul li {
    margin: 40px 0;
    transition: transform 0.5s;
    transform: translateX(-100%);
}

nav ul li:nth-child(2) {
    margin-left: 10px;
    transform: translateX(-150%);
}

nav ul li:nth-child(3) {
    margin-left: 20px;
    transform: translateX(-200%);
}

ul li a {
    display: inline-block;
    text-decoration: none;
    transition: color 0.5s;
    color: #fafafa;
    transform: translate(0, -2px);
}

i.iconfont {
    font-size: 25px;
    font-weight: 500;
    color: white;
    margin-right: 10px;
}

nav a:hover {
    color: hotpink;
}

.content {
    margin: 50px auto;
    max-width: 1000px;
}

img {
    width: 100%;
}

small {
    font-style: italic;
}

.content p {
    color: #333;
    line-height: 1.5;
}

h3,
p {
    margin: 18px 0;
}